// footer
.footer {
  padding: 40px 10px 40px 10px;
  height: auto;
  #follow-us-content{
      list-style-type: none;
      width: 250px;
      a{
          text-decoration: none;
          color: white;
      }
      h3{
          color: #3cbfae;
      }
      p{
          margin-left: 10px;
      }
      }
      @media screen and (max-width: 767px){
          .footer-copyright{
              margin-right: 0;
              margin-top: 30px;
          }
          .twitter-linkedin-container{
              display: flex;
              .twitter{
                  margin-right: 15px;
              }
          }
          .vertical{
              height: auto;
          }
      }
  }
  .footer-content{
      list-style-type: none;
      width: 250px;
      li{
          margin-bottom: 10px;
          // p{
          // float: right;
          // margin-right: 130px;
          // width: 50px;
          // }
          img{
              height: 36px;
          }
      }
      a{
          text-decoration: none;
          color: white;
      }
      h3{
          color: #3cbfae;
      }
  }

  .footer-copyright{
      color: white;
      margin-right: 20px;
  }

  .vertical {
      border-left: 1px solid #3cbfae;
      height: 138px;
      padding-right: 20px;
      margin-top: 30px;
  }

  #footer-white-heading{
      color: white;
      padding-top: 10px;
  }

